.statusBarComponent
{
  background-color: navy;
  display:inline-block;
  margin: 25px;
  padding-top:15px;
  padding-left:20px;
  padding-right:20px;
  max-width: 1200px;
  column-count: 2;
  -webkit-column-count: 2;
  column-rule-style: solid;
  column-rule-color: yellow;
  float:left;

  .statusComponent
  {
    width: 200px;
    height: 100px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
  }

  .statusComponent.done
  {
    background-color: lawngreen;
  }

  .statusComponent.missing
  {
    background-color: lightsalmon;
  }

}



