
.FormError
{
  color:red;
}

#person-form
{
  label
  {

    float:left;
    clear:both;
    min-width:70px;
  }

  input:not([type])
  {
    width: 200px;
  }

  input
  {
    float:left;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  button
  {
    float:left
  }
}






