<div class="statusBarComponent">
    <div class="statusComponentContainer" ng-repeat="feature in $ctrl.features">
        <status-component feature-object="feature"></status-component>
    </div>
</div>
