#mainWrapper
{
  *
  {
    box-sizing: border-box
  }

  min-width: 400px;
}

#presenter
{
  width: calc(100% - 200px);
  background-color: cadetblue;
  min-height: 100vh;
  float: left;
  padding: 5px;
  overflow: hidden;
}

#componentList
{
  background-color: cornsilk;
  background-image: url("../../resources/images/metal2.png");
  min-height: 100vh;
  float: left;
  padding: 5px;
  width: 200px;
}
