<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="resources/images/favicon.ico">
</head>
<body>
    <status-bar></status-bar>
    <img src="/resources/images/grumpy.jpg">
</body>
</html>