<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="appContainer"></div>
    <img src="/resources/images/grumpy.jpg">
</body>
</html>