.storeTester
{
  background-color: navy;
  display:inline-block;
  margin: 25px;
  padding-top:15px;
  padding-left:20px;
  padding-right:20px;
  float:left;

  .storeVal
  {
    background-color: yellow;
    margin-top: 8px;
    margin-bottom: 8px;
    display:block;
  }

  .storeCaption
  {
    color:white;
    line-height: 3rem;
    font-size: 2rem;
    text-decoration: underline;
  }
}

